* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  padding: 20px;
}

.card-container {
  aspect-ratio: 1/1;
}

.card {
  transition: 0.5s all;
  cursor: pointer;
  position: fixed;
}

.card:not(.active):hover {
  transform: scale(1.025);
}


.card.active {
  top: 50% !important;
  left: 50% !important;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  width: 80vw !important;
  height: 80vh !important;
}

.card.active .front {
  transform: rotateY(-180deg);
}

.card.active .back {
  transform: rotateY(0);
}

.front, .back {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 0.5s all;
  box-shadow: 0 0 4px #0000006c;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back {
  transform: rotateY(180deg);
  overflow-y: scroll;
  background-color: #fff;
  padding: 20px;
}

.title {
  font-weight: bold;
  font-size: 24px;
}

.episode {
  margin-top: 20px;
  font-size: 16px;
}